<div class="container py-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <form method="POST" action="/">
          <div class="form-group form-row">
            <label for="nickname" class="col-md-4 col-form-label">
              <i class="far fa-hand-point-down"></i> 你想對誰說幹話？請輸入他的名字（可不填）：
            </label>
            <div class="col-md-8">
              <input type="text" name="nickname" class="form-control" id="nickname" value="{{options.nickname}}">
              <small class="text-muted form-text">可輸入任何文字或符號</small>
            </div>
          </div>
          <div><i class="far fa-hand-point-down"></i> 他的職業（三選一）：</div>
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="form-check">
                <input type="radio" class="form-check-input" id="engineer" name="engineer"><label
                  class="form-check-label" for="designer">工程師</label>
                <label class="form-check-label" for="engineer"><img
                    src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                    class="rounded float-left img-fluid"></label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-check">
                <input type="radio" class="form-check-input" id="designer" name="designer"><label
                  class="form-check-label" for="designer">設計師</label>
                <label class="form-check-label" for="designer"><img
                    src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                    class="rounded float-left img-fluid"></label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-check">
                <input type="radio" class="form-check-input" id="entrepreneur" name="entrepreneur"><label
                  class="form-check-label" for="designer">創業家</label>
                <label class="form-check-label" for="entrepreneur"><img
                    src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                    class="rounded float-left img-fluid"></label>
              </div>
            </div>

          </div>
          <hr>
          <div class="row align-items-center">
            <!-- button -->
            <div class="col-md-2" align="center">
              <button class="btn btn-success btn-lg" type="submit">產生幹話！</button>
            </div>
            <!-- content -->
            <div class="col-md-8 alert alert-dark" role="alert" id="copythis" style="height: 5rem;">
              {{#if rubbishWord}}
              <div>
                <p class="card-title text-justify"> {{rubbishWord}} </p>
              </div>
              {{/if}}
              {{check_up}}
            </div>
            <!-- copy link -->
            <div class="col-md-2" align="left">
              <a href="javascript:" onclick="CopyTextToClipboard('copythis')">
                <i class="fas fa-copy"></i> 一鍵複製幹話
              </a>
            </div>
          </div>
      </div>
      </form>

      <small class="card-footer text-muted text-right">
        開發 by Ivy @ alphacamp
      </small>
    </div>
  </div>
</div>